# Dependencias y builds
node_modules/
dist/

# Variables de entorno
.env
.env.local
.env.*.local
*.env.ts  # Si generas archivos env dinámicos en TS

# Logs
*.log
npm-debug.log*  # Solo npm (elimina .pnpm-debug.log* si no usas pnpm)

# Editor/IDE 
.vscode/         